/* Reset & Base */
#Stage, body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -ms-content-zooming: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #000;
}

/* Fonts */
@font-face {
    font-family: "nbarchitekt";
    src: url(assets/fonts/NBArchitektStd-Regular-export/NBArchitektStd-Regular.woff2) format("woff2"),
         url(assets/fonts/NBArchitektStd-Regular-export/NBArchitektStd-Regular.woff) format("woff"),
         url(assets/fonts/NBArchitektStd-Regular-export/NBArchitektStd-Regular.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "nbarchitekt";
    src: url(assets/fonts/NBArchitektStd-Light-export/NBArchitektStd-Light.woff2) format("woff2"),
         url(assets/fonts/NBArchitektStd-Light-export/NBArchitektStd-Light.woff) format("woff"),
         url(assets/fonts/NBArchitektStd-Light-export/NBArchitektStd-Light.otf) format("opentype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "nbarchitekt";
    src: url(assets/fonts/NBArchitektStd-Bold-export/NBArchitektStd-Bold.woff2) format("woff2"),
         url(assets/fonts/NBArchitektStd-Bold-export/NBArchitektStd-Bold.woff) format("woff"),
         url(assets/fonts/NBArchitektStd-Bold-export/NBArchitektStd-Bold.otf) format("opentype");
    font-style: normal;
    font-weight: 700;
}

/* iOS fixes */
.ios, .ios #Stage, .ios body {
    overflow: visible;
}
.ios, .mob {
    position: relative;
    height: 100vh;
}

/* Accessibility hidden */
.GLA11y {
    position: absolute;
    width: 0;
    height: 100%;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Scrollbar */
:root { --baropacity:0.0; }
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: 0 0; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,var(--baropacity,0.9)); border-radius: 10px; }

/* User-select prevention */
#Stage, #Stage * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}
#Stage *, #Stage ::after, #Stage ::before {
    box-sizing: border-box;
}
#Stage * input, #Stage * textarea {
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -o-user-select: auto;
    -ms-user-select: auto;
    -webkit-tap-highlight-color: auto;
}

/* Feature detects */
.feature-detects {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 100vh;
    clip: rect(0 0 0 0);
}
@supports (--css:variables) and (padding:env(safe-area-inset-bottom)){
    .feature-detects {
        --safe-area-inset-top: env(safe-area-inset-top);
        --safe-area-inset-right: env(safe-area-inset-right);
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
        --safe-area-inset-left: env(safe-area-inset-left);
    }
}
